@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
#center{
    height: 100vh;
    text-align: center;
    align-content: center;
    
}
h1{
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}